.h{
	font-size:3rem;
	padding-top:1%;
}
.hh{
	font-size:2rem;
}
.hhh{
	font-size:1.5em;
	margin-bottom:5%;
}

.form-controll {
    display: block;
    margin:0 auto;
    margin-top:1%;
    width: 25%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #755a5a;
    border: 1px solid #ea5410;
    border-radius: 6px;
}